body {
    max-width: 800px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 15px;
}
 .text-color {
     color: #800000; 
 }
.logo {
    max-height: 100px;
    max-width: 100px;
}

.photo-bags {
    margin: auto;
}

.container {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 12;
    display: inline-block;
}

input[type=submit] {
    background-color: #b70f0a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #e89b99;
}

.button {
    margin-left: 550px;
}

.container {
    border-radius: 5px;
    background-color: #ffe6cc;
    padding: 20px;
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
#message {
    height: 300px;
}
#email {
    width: 100%;
}
#tel {
    width: 100%;
}


hr {
    color: #ffd9b3;
}    

h2 {
	margin-right: auto;
	color: #800000;
	}
	
	.shadow {
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0 10px rgb(255, 153, 102); /* Параметры тени */
    padding: 0;
   }
   
